<div class="alert alert-primary d-flex align-items-center" style="max-width: 38em" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
        <use xlink:href="#info-fill"/>
    </svg>
    <div>
        @Text
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public string Text { get; set; } = "";

}