@inherits ComponentBase

@if (Visible)
{
    <div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Title</h4>
                    <button type="button" class="close" @onclick="ModalCancel">&times;</button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="ModalOk">OK</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<bool> OnOk { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private bool Visible { get; set; }

    public void ShowDialog() => Visible = true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private Task ModalCancel()
    {
        Visible = false;
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        Visible = false;
        return OnOk.InvokeAsync(true);
    }

}